<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Quizzerion</title>
</head>
<body>

  <div class="ui grid">

	<div class="computer only row">
		<div class="column">
			<div class="ui inverted menu">
				<a href="/" class="item bigIcon"><i class="crosshairs icon"></i> Quizzerion</a>
        <a href="/articles" class="item border selected">Show All Articles</a>
          <a href="/articles/new" class="item border"><i class="plus icon"></i> Add Articles</a>
        <div class="right menu">
          <div class="item">
            <form action="/articles" method="GET"></form>
            <div class="ui icon input">
              <input type="text" name="search" placeholder="Search..." autocomplete="off">
              <i class="search link icon"></i>
            </div>
          </div>
        </div>
			</div>
    </div>
  </div>

  <div class="tablet mobile only row">
	  <div class="column">
			<div class="ui inverted menu">
				<a id="mobile_item" class="item"><i class="bars icon"></i></a>
        <a href="/" class="item bigIcon border"><i class="crosshairs icon"></i> Quizzerion</a>
		  </div>
    </div>
  </div>

</div>

<div class="ui pushable segment">
	<div class="pusher">
		<div id="content" class="ui segment">
