<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quizzotrope</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
    <a class="navbar-brand" href="/"><img src="/stylesheets/img/Artboard 7.png" class="logoImage"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-2">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="/articles">Quizzes</a>
        </li>
        <li class="nav-item active mr-2">
          <a class="nav-link a" href="/about">About us</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="/contact">Contact us</a>
        </li>
      </ul>
      <form action="/articles" class="form-inline mt-2 mt-md-0 ml-sm-1 ml-md-3 mr-3" method="get">
        <div class="ui transparent input" id="search">
          <input type="text" name="query" placeholder="Search" autocomplete="off">
        </div>
        <button type="submit" class="btn"><i class="search link icon"></i></button>
      </form>
    </div>
  </nav>

  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1 class="mt-5">About Us</h1>
        </div>
      </div>
    </div>
  </header>

  <section id="aboutUs">
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-3">
          <p class="lead" style="font-family: 'Raleway', sans-serif;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut aperiam repellendus nesciunt, quos tempora, maxime. Deleniti obcaecati excepturi dolorem quam omnis, mollitia quibusdam alias architecto, doloribus, ducimus qui inventore, aliquid. Hic quas dolor natus pariatur debitis, nihil ut architecto sequi eaque rem iste animi deleniti dolorum, cumque neque esse vel molestiae iure ipsam libero quibusdam similique quisquam odio doloremque! Sapiente, numquam. Esse, amet perferendis deleniti. Assumenda, at hic. Commodi veniam a dicta nostrum eligendi voluptatibus quasi temporibus vel voluptatem unde ipsam voluptas in maxime, necessitatibus accusantium officia laudantium sint non modi. Nihil tempora vero, officiis odit possimus quia modi, eveniet.
          </p>
        </div>
        <div class="col-md-6 p-3">
          <img src="/stylesheets/img/lights.jpg" class="img-fluid rounded-circle">
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</body>

</html>
