<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quizzotrope</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
    <a class="navbar-brand" href="/"><img src="/stylesheets/img/Artboard 7.png" class="logoImage"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-2">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="/articles">Quizzes</a>
        </li>
        <li class="nav-item active mr-2">
          <a class="nav-link a" href="/about">About us</a>
        </li>
      </ul>
      <form action="/articles" class="form mt-2 mt-md-0 ml-sm-1 ml-md-3 mr-3" method="get">
        <div class="ui transparent input" id="search">
          <input type="text" name="query" placeholder="Search" autocomplete="off">
        </div>
        <button type="submit" class="btn"><i class="search link icon"></i></button>
      </form>
    </div>
  </nav>

  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1 class="mt-5 text-uppercase">About Us</h1>
        </div>
      </div>
    </div>
  </header>

  <section id="aboutUs">
    <div class="container">
      <div class="row p-2">
        <div class="col-md-6 p-1 mr-auto mb-2">
          <p class="text-justify lead" style="font-family: 'Raleway', sans-serif;">
            We are a bunch of IIITians who have a knack of learning and quizzing. <br>We believe in 'growing with others'- so our club aims to conduct regular quiz sessions through this portal on various genres- science, tech, business, culture, sports and other miscellaneous subjects. <br>Quizzing along with the academics helps in the holistic development of the students. The club emphasises on sharing valuable information and helps in improving the knowledge of the students.
          </p>
        </div>
        <div class="col-md-5 p-1 ml-auto mb-2">
          <img src="/stylesheets/img/image1.jpg" class="img-fluid rounded-circle">
        </div>
      </div>
    </div>
  </section>

  <div id="contactBody">
    <header id="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto text-center">
            <h1 class="mt-4">Want To Say Us Something ?</h1>
            <p>You can fill out the form to Contact us. Alternatively you can use our social media handles to reach us.</p>
          </div>
        </div>
      </div>
    </header>

    <!-- Contact Section -->
    <section id="contact" class="py-3">
      <div class="container">
        <div class="row mx-xs-auto">
          <div class="col-md-8 mb-3">
            <div class="card p-4 h-100">
              <div class="card-body">
                <h2 class="text-center">Fill Out This Form To Contact Us</h2>
                <hr>
                <form action="https://formspree.io/bishal5058prime@gmail.com" method="POST" class="ui form">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" name="name" placeholder="Your Name: Eg John Doe" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="email" name="email" placeholder="Your Email address" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea type="email" name="message" rows="6" placeholder="Your message" required></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <input type="submit" class="btn btn-outline-danger btn-block">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card p-4 h-100">
              <div class="card-body">
                <h2>Social Media Handles</h2>
                <hr> Email Address:
                <div class="row">
                  <div class="col"><i class="twitter square icon"></i></div>
                  <div class="col"><i class="facebook icon"></i></div>
                  <div class="col"><i class="instagram icon"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</body>

</html>
