<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quizzotrope</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

<!-- Navbar -->
  <!-- COMMENTED OUT NAVBAR FOR TESTING PURPOSES -->
  <!-- <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
    <a class="navbar-brand" href="/"><img src="/stylesheets/img/Artboard 7.png" class="logoImage"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active mr-2">
          <a class="nav-link a" href="/">Home</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="/articles">Articles</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="/about">About us</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="/contact">Contact us</a>
        </li>
      </ul>
      <form action="/articles" class="form-inline mt-2 mt-md-0 ml-sm-1 ml-md-3 mr-3" method="get">
        <div class="ui transparent input" id="search">
          <input type="text" name="query" placeholder="Search" autocomplete="off">
        </div>
        <button type="submit" class="btn"><i class="search link icon"></i></button>
      </form>
    </div>
  </nav> -->
  <!-- WILL ADD THE NAVBAr LATER -->

  <!-- QUIZ BODY -->

<section class="intro">         <!--introPage forms -->
<h1>How well do you know 90's movies?</h1>
<button id="begin">Let's begin!</button>
</section>

<section class="questionForms hidden"> <!--question forms -->
<div class="progress">
  <div class="bar">Progress</div>
</div>
<h4 id="question"></h4>
<form>
  <label class="a"><input type="radio" name="myAnswer" value="a"><span class="a1"></span></label><br>
  <label class="b"><input type="radio" name="myAnswer" value="b"><span class="b2"></span></label><br>
  <label class="c"><input type="radio" name="myAnswer" value="c"><span class="c3"></span></label><br>
  <label class="d"><input type="radio" name="myAnswer" value="d"><span class="d4"></span></label><br>
  <button id="submit">Submit</button>
</form>
</section>

<!-- Results Page -->
<section class="results hidden">
<h3 id="result"></h3>
<img id="picTrivia">
<p id="textTrivia"></p>
<button class="next">Next Question</button>
<button class="goToScore hidden">Show my Score</button>
</section>

<!-- Summary Page Form -->
<section class="end hidden">
 <h1 id="score"></h1>
 <img id="scorepic">
 <button id="restart">Restart Quiz</button>
</section>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
  <script src="js/quiz.js"></script>
</body>

</html>
