<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quizzotrope</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

<!-- Navbar -->
  <!-- COMMENTED OUT NAVBAR FOR TESTING PURPOSES -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
    <a class="navbar-brand" href="/"><img src="/stylesheets/img/Artboard 7.png" class="logoImage"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active mr-2">
          <a class="nav-link a" href="/">Home</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="/articles">Articles</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="/about">About us</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="/contact">Contact us</a>
        </li>
      </ul>
      <form action="/articles" class="form-inline mt-2 mt-md-0 ml-sm-1 ml-md-3 mr-3" method="get">
        <div class="ui transparent input" id="search">
          <input type="text" name="query" placeholder="Search" autocomplete="off">
        </div>
        <button type="submit" class="btn"><i class="search link icon"></i></button>
      </form>
    </div>
  </nav>

  <!-- QUIZ BODY -->

  <section class="intro container h-100">
    <!--introPage forms -->
    <div class="row h-100">
      <div class="col-md-6 my-auto mx-auto">
        <div class="card">
          <div class="card-header text-center " id="chooseCat">
            <h1>Choose Your Quiz Category</h1>
          </div>
          <div class="container">
            <div class="row">
              <div class="col mx-auto">
                <div class="card-body" id="catCard">
                  <form id="cat">
                    <div class="Cats"></div>
                    <button type="submit" class="btn btn-primary" id="begin">Let's begin!</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--question forms -->
  <section class="questionForms hidden container h-100">
    <div class="row h-100">
      <div class="col-md-8 mx-auto my-auto">
        <div class="card">
          <h5 class="card-header" id="question"></h5>
          <div class="card-body">
            <form>
              <label class="a"><input type="radio" name="myAnswer" value="a" required><span class="a1"></span></label><br>
              <label class="b"><input type="radio" name="myAnswer" value="b" required><span class="b2"></span></label><br>
              <label class="c"><input type="radio" name="myAnswer" value="c" required><span class="c3"></span></label><br>
              <label class="d"><input type="radio" name="myAnswer" value="d" required><span class="d4"></span></label><br>
              <button class="btn btn-primary" id="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="results hidden container h-100">
    <div class="row h-100">
      <div class="col-md-8 mx-auto my-auto">
        <div class="card">
          <h3 class="card-header" id="result"></h3>
          <div class="card-body">
            <img id="picTrivia" class="img-fluid">
            <p id="textTrivia"></p>
            <button class="next btn btn-primary">Next Question</button>
            <button class="goToScore btn btn-primary hidden">Show my Score</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="end hidden container">
    <div class="row h-100">
      <div class="col-md-8 mx-auto my-auto">
        <div class="card">
          <h5 class="card-header" id="score"></h5>
          <div class="card-body d-flex">
            <img id="scorepic" class="img-fluid mx-auto">
          </div>
          <button id="restart" class="btn btn-primary my-3 mx-auto">Restart Quiz</button>
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
  <script src="js/quiz.js"></script>
</body>

</html>
