@import url('https://fonts.googleapis.com/css?family=Raleway:700|Work+Sans:600');


html, body {
  opacity: 0;
  animation: showAll forwards 0.3s 0.2s linear;
  overflow-x: hidden;
}

@keyframes showAll {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Header Styles */

#header {
  background: linear-gradient(90deg,#6473f5,#4855e7)!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 100vh;
}

.contain {
  opacity: 0;
  background: linear-gradient(90deg,#6473f5,#4855e7)!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  box-shadow: 0 5px 36px rgba(0, 0, 0,.7);
  animation: showContainer 1s 0.2s forwards;
  object-fit: contain;
}

@keyframes showContainer {
  0%{
    background: linear-gradient(90deg,#6473f5,#4855e7)!important;
    opacity: 0;
  }
  100% {
    background: white;
    opacity: 1;
  }
}

#logo {
  opacity: 0;
  height: 30vh;
  width: 40vw;
  animation: showAll 2s 0.2s forwards;
}

#heading {
  color: #000;
  letter-spacing: 40px;
  opacity: 0;
  animation: show 1s 0.4s forwards;
}

.animated-button {
  opacity: 0;
  color: white;
  font-weight: bold;
  background-color: rgb(50,205,50);
  box-shadow: 0 5px 36px rgba(65,205,82,.7);
  transition: 1s All;
  animation: showButton 0.8s 1s forwards;
}

@keyframes showButton {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.animated-button:hover {
  color: white;
}


@keyframes show {
  0% {
    letter-spacing: 40px;
    opacity: 0;
  }
  100% {
    letter-spacing: 25px;
    opacity: 1;
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 425px) {
  #heading {
    opacity: 0;
    letter-spacing: 10px;
    animation: textAppear 1s 0.2s forwards;
  }
}

/* ------------------------------------ */

/* Navbar Styles */

nav.navbar {
  padding-top: 0;
  padding-bottom: 0
}

.navbar {
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5),
              3px 0px 3px rgba(0, 0, 0, 0.3),
              4px 0px 4px rgba(0, 0, 0, 0.2),
              5px 0px 5px rgba(0, 0, 0, 0.1);
}

.logoImage {
  object-fit: contain;
  width: 180px;
  height: 50px;
}

nav a {
  opacity: 0.7;
  border: 1px solid white;
  color: black;
  transition: 0.7s All;
}

nav a.navbar-brand {
  opacity: 1;
  border-bottom: 1px solid white;
}

nav a.navbar-brand:hover {
  border-bottom: 1px solid white;
}

nav a:hover {
  opacity: 1;
  color: black;
  border-bottom: 1px solid black;
}

nav a.a {
  opacity: 1;
  border-bottom: 1px solid red;
}

nav a.a:hover {
  border-bottom: 1px solid red;
}

@media (max-width: 767px) {
  .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0
  }

  .nav-item {
    margin-top: 5px;
  }

  .navbar-nav .nav-link.a {
    padding-left: 5px;
  }

  .navbar-nav .nav-link:hover {
    padding-left: 5px;
  }

  nav a {
    opacity: 0.7;
    border: 2px solid white;
    color: black;
    transition: 0.5s;
  }

  nav a.navbar-brand {
    opacity: 1;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
  }

  nav a.navbar-brand:hover {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
  }

  nav a:hover {
    opacity: 1;
    color: black;
    border-left: 2px solid black;
    border-bottom: 2px solid white;
    padding-left: 5px;
  }

  nav a.a {
    opacity: 1;
    border-left: 2px solid red;
    border-bottom: 2px solid white;
    padding-left: 5px;
  }

  nav a.a:hover {
    border-left: 2px solid red;
    border-bottom: 2px solid white;
  }

}

/* ------------------------------------ */

footer#main-footer {
  background-color: #000;
  color: #fff;
}

#home-header {
  height: 200px;
  background: url(img/image1.jpg);
  background-position: 0 -360px;
  background-attachment: fixed;
  color: white;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#page-header {
  margin-top: 50px;
  height: 200px;
  background: url(img/image1.jpg);
  background-position: 0 -360px;
  background-attachment: fixed;
  color: white;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#about img {
  margin-top: -50px;
}

/* Slick Slider Styles */

.slider {
  margin: 5px 0;
  padding: 1px 0;
}

.slider div {
  margin: 0 5px;
}

.slick-slide {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.slick-center {
  display: block;
  max-width: 10% !important;
  max-height: 20% !important;
  opacity: 1;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0);
}

/* ------------------------- */

.card {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5),
              3px 3px 3px rgba(0, 0, 0, 0.3),
              4px 4px 4px rgba(0, 0, 0, 0.2),
              5px 5px 5px rgba(0, 0, 0, 0.1);
}

.slick-prev:before, .slick-next:before {
  color: black;
}

button {
  display: inline;
  background-color: transparent;
}

.questionImage {
  object-fit: contain;
  height: 250px;
}

#articlesSearch {
  margin-top: 75px;
  box-shadow: 0 5px 36px rgba(0, 0, 0, 0.7);
  background: white;
}

#articlesBody {
  background: linear-gradient(90deg,#6473f5,#4855e7)!important;
}

#headingRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#about {
  background: linear-gradient(90deg,#6473f5,#4855e7)!important;
  color: white;
}
