.bigIcon i.icon {
  font-size: 2em;
}

.selected{
  border-bottom: 5px solid #e8491d;
}

div#content.ui.segment {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  margin: 0;
}

.ui.menu {
  border-radius: 0;
}

.ui.segment {
  border-radius: 0;
}

.ui.grid {
  margin-right: 0;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  padding-right: 0;
}

.ui.input>input {
  border-radius: 0;
}

#content {
  min-height: 100px;
}
.ui.grid {
	padding: 0 !important;
}
.pushable.segment {
	margin: 0 !important;
}

.ui.inverted.menu a.item.border, .ui.inverted.menu a.item.bigIcon{
  color: #ffffff;
  font-size: 15px;
  font-weight: lighter;
}

.ui.inverted.menu a.bigIcon:hover{
  color: #e8491d;
  border-right: 1px solid #e8491d;
  font-weight: bold;
}

.ui.inverted.menu a.item.border:hover{
  color: #e8491d;
  border-left: 1px solid #e8491d;
  border-right: 1px solid #e8491d;
  font-weight: bold;
}

#showcase{
  min-height: 400px;
  background: url('https://www.marketingdonut.co.uk/sites/default/files/questions-that-research-could-help-you-answer-366899399.jpg') no-repeat;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  width: 100%;
}

footer{
  width: 100%;
}
#deleteButton {
  display: inline-block;
}

.ui.inverted.menu{
  background: #35424a;
}
