#cardContainer {
  border: none;
  margin-top: 100px;
}

.card {
  box-shadow: none;
}

#cardHeading {
  text-transform: uppercase;
  background-color: white;
  border: none;
  font-size: 22px;
}

.image {
  border: none;
  object-fit: contain;
  max-height: 300px;
  max-width: 300px;
}

.centerObject {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* CARD BODY */

#desc{
  border-top: 2px solid lightgray;
  margin-top: 10px;
}

/* CARD DETAILS */

#details {
  width: 18rem;
  margin-top: 20px;
  background: #fafafa;
}

#cardHeading .col-md-6 .col6{
  padding-left: 0;
}

.list-group-item, .list-group-item.text-right{
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.list-group-item.text-right{
  margin-left: 0;
  margin-right: 10px;
  text-align: left !important;
}

#showDescription:first-child:first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 5em;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
