.hidden{
  display: none;
}

.end {
  margin-top: 75px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  max-height: 300px !important;
  max-width: 300px !important;
}
